@model HotelBahia.BussinesLogic.Domain.Incidencia

@{
    ViewData["Title"] = "Editar incidencia";
}

<h4>Incidencia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IncidenciaID" />
            <div class="form-group">
                <label asp-for="EmpleadoId" class="control-label"></label>
                <select asp-for="EmpleadoId" class="form-control" asp-items="ViewBag.EmpleadoId"></select>
                <span asp-validation-for="EmpleadoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Habitacion" class="control-label"></label>
                <input asp-for="Habitacion" class="form-control" />
                <span asp-validation-for="Habitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prioridad" class="control-label"></label>
                <input asp-for="Prioridad" class="form-control" />
                <span asp-validation-for="Prioridad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Encargado" class="control-label"></label>
                <input asp-for="Encargado" class="form-control" />
                <span asp-validation-for="Encargado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select asp-for="Estado" class="form-control" asp-items="ViewBag.Estado"></select>
            </div>
            <input type="hidden" asp-for="FechaAbierto" />
            <div class="form-group">
                <label asp-for="FechaCerrado" class="control-label"></label>
                <input asp-for="FechaCerrado" class="form-control" />
                <span asp-validation-for="FechaCerrado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

