@*@model IndexModel*@
@{
  ViewData["Title"] = "Desocupar Habitacion";
}
<section class="content-header">
  <h1>
    Dashboard
    <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Desocupar Habitaci&oacute;n</a></li>
    <li class="active">Desocupar Habitcion</li>
  </ol>
</section>
<div class="content-wrapper">

  <div class="row">
    <div class="col-md-3">
      <labek>Numero de habitaci&oacute;n:</labek>
    </div>
    <div class="col-md-3">
      <input class="form-control" id="numeroHabitacion"/>
    </div>
    <div class="col-md-3">
      <button id="btnDesocupar" class="btn btn-success">Desocupar</button>
    </div>
  </div>
</div>

<script>


</script>