@model HotelBahia.BussinesLogic.Domain.AsignacionHabitacion

@{
    ViewData["Title"] = "Crear asignacion";
}

<h4>Asignacion de Habitacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpleadoId" class="control-label">Empleado</label>
                <select asp-for="EmpleadoId" class ="form-control" asp-items="ViewBag.EmpleadoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="HabitacionId" class="control-label">Habitacion</label>
                <select asp-for="HabitacionId" class ="form-control" asp-items="ViewBag.HabitacionId"></select>
            </div>
            <div class="form-group d-none">
                <label asp-for="RolId" class="control-label">Rol</label>
                <input asp-for="RolId" class="form-control" value="3" />
                <span asp-validation-for="RolId" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

