.box-habitacions-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;


    > div {
        flex: 0 0 220px;
        padding: 15px;
    }

    .box-habitacion {
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
        height: 100%;
        background: #fff;

        .inner {
            color: #494e52;
            flex: 0 0 100%;
            text-align: center;
        }

        .small-box-footer {
            line-height: 37px;
            flex: 0 0 100%;
            align-self: flex-end;
        }
    }
}


@each $color, $value in $theme-colors {
    @include bg-variant(".bg-#{$color}", $value);
}

@if $enable-gradients {
    @each $color, $value in $theme-colors {
        @include bg-gradient-variant(".bg-gradient-#{$color}", $value);
    }
}

@each $color, $value in $colors {
    @include text-emphasis-variant(".text-#{$color}", $value);
}

@each $name, $color in $colors {
    .card-#{$name} {
        &:not(.card-outline) {
            .card-header {
                background-color: $color;
                border-bottom: 0;

                &,
                a {
                    color: color-yiq($color);
                }
            }
        }

        &.card-outline {
            border-top: 3px solid $color;
        }
    }

    .bg-#{$name},
    .bg-#{$name}-gradient,
    .card-#{$name}:not(.card-outline) {
        .btn-tool {
            color: rgba(color-yiq($color), 0.8);

            &:hover {
                color: color-yiq($color);
            }
        }
    }
}