@*@model IndexModel*@
@{
    ViewData["Title"] = "Listado de Habitaciones";
}
<section class="content-header">
  <h1>
    Desocupar Habitaci&oacute;n
    <small>Control panel</small>
  </h1>
</section>
<div class="content-wrapper">

</div>