@using HotelBahia.Presentacion.Web.Helpers
@{
    ViewData["Title"] = "Check Out";
    var msj = @ViewData["Mensaje"] as Message;
}

<div class="row">
    <div class="col-md-4">
        <div class="box box-primary">
            <form asp-controller="CheckOut" asp-action="CheckOut" method="post">
                <div class="box-header with-border">
                    <h3 class="box-title">Check Out Habitación</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label>Numero de Habitación</label>
                        <input id="nroHabitacion" name="nroHabitacion" type="text" class="form-control" />
                    </div>
                    <div>
                        @if (msj != null)
                        {
                            <div class="callout callout-@msj.Tipo.ToString()">
                                <p>@msj.Contenido</p>
                            </div>
                        }
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Check Out</button>
                </div>
            </form>
        </div>
    </div>
</div>
