@{
    ViewData["Title"] = "Check Out";
}
<div id="checkOutModule" class="container-fluid">
    <div class="card card-outline card-info">
        <div class="card-header">
            Habitaciones
        </div>
    </div>
    <div class="box-habitacions-wrapper">
        <div v-for="hab in listHabitaciones">
            <div class="small-box box-habitacion">
                <div class="inner">
                    <h3>{{hab.numero}}</h3>
                    <p class="text-info" v-bind:class="'text-' + colorState[hab.estadoHabitacionId]">{{hab.estadoHabitacion.estadoNombre}}</p>
                </div>
                <a href="#" v-on:click="checkOut(hab)" class="small-box-footer " v-if="hab.estadoHabitacionId == 2" v-bind:class="'bg-' + colorState[hab.estadoHabitacionId]">Check Out<i class="ml-2 fa fa-arrow-circle-right"></i></a>
                <div v-else class="small-box-footer" v-bind:class="'bg-' + colorState[hab.estadoHabitacionId]"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var checkOutModule = new Vue({
            el: "#checkOutModule",
            data: {
                listHabitaciones: [],
                colorState: {
                    2: "purple",
                    1: "indigo",
                    3: "cyan",
                    4: "green",
                    5: "red",
                    6: "yellow"
                }
            },
            created: function () {
                this.getListHabitaciones();
            },
            methods: {
                getListHabitaciones: function () {
                    this.$http.get('/api/Habitacion/')
                        .then(function (response) {
                            this.listHabitaciones = response.body
                        });
                },
                checkOut: function ($this) {
                    this.$http.get('api/Habitacion/Checkout/' + $this.habitacionId)
                        .then(function (response) {
                            this.getListHabitaciones();
                            console.log(this);
                        },
                    function (response) {
                        console.log(response);
                    });
                }
            }
        });
    </script>
}