@model HotelBahia.Presentacion.Web.Models.EvaluacionModel

@{
    ViewData["Title"] = "Crear Evaluacion";
}

<h4>Resultado Evaluacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Empleado.UsuarioNombre" class="control-label">Supervisor</label>
                <select asp-for="Empleado.UsuarioNombre" class="form-control" asp-items="ViewBag.Supervisores"></select>
            </div>
            <div class="form-group">
                <label asp-for="ResultadoEvaluacion.Tardanzas" class="control-label"></label>
                <input asp-for="ResultadoEvaluacion.Tardanzas" class="form-control" />
                <span asp-validation-for="ResultadoEvaluacion.Tardanzas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResultadoEvaluacion.Faltas" class="control-label"></label>
                <input asp-for="ResultadoEvaluacion.Faltas" class="form-control" />
                <span asp-validation-for="ResultadoEvaluacion.Faltas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResultadoEvaluacion.SupervisionesNegativas" class="control-label"></label>
                <input asp-for="ResultadoEvaluacion.SupervisionesNegativas" class="form-control" />
                <span asp-validation-for="ResultadoEvaluacion.SupervisionesNegativas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResultadoEvaluacion.Valoracion" class="control-label"></label>
                <input asp-for="ResultadoEvaluacion.Valoracion" class="form-control" />
                <span asp-validation-for="ResultadoEvaluacion.Valoracion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResultadoEvaluacion.Comentarios" class="control-label"></label>
                <input asp-for="ResultadoEvaluacion.Comentarios" class="form-control" />
                <span asp-validation-for="ResultadoEvaluacion.Comentarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

