@model HotelBahia.BussinesLogic.Domain.ResultadoEvaluacion

@{
    ViewData["Title"] = "Crear Evaluacion";
}

<h4>ResultadoEvaluacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="EmpleadoId">Empleado</label>
                <select type="text" name="empleadoId" class="form-control" asp-items="ViewBag.Empleado" />
            </div>
            <div class="form-group">
                <label asp-for="Tardanzas" class="control-label"></label>
                <input asp-for="Tardanzas" class="form-control" />
                <span asp-validation-for="Tardanzas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Faltas" class="control-label"></label>
                <input asp-for="Faltas" class="form-control" />
                <span asp-validation-for="Faltas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupervisionesNegativas" class="control-label"></label>
                <input asp-for="SupervisionesNegativas" class="form-control" />
                <span asp-validation-for="SupervisionesNegativas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valoracion" class="control-label"></label>
                <input asp-for="Valoracion" class="form-control" />
                <span asp-validation-for="Valoracion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentarios" class="control-label"></label>
                <input asp-for="Comentarios" class="form-control" />
                <span asp-validation-for="Comentarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evaluador" class="control-label"></label>
                <input asp-for="Evaluador" class="form-control" />
                <span asp-validation-for="Evaluador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

